{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
    <div class="container py-5">
        <div class="row">
            <div class="col-5">
                <img src="{{ product.coverImage }}"  class="img-fluid rounded" alt="image du jeu {{ product.title }}">
            </div>
            <div class="col-7">
                <div class="row">
                    <div class="col-6">
                        <h1 class="text-capitalize h2">{{ product.title }}</h1>
                        <blockquote>
                            <p class="blockquote-footer">Catégorie : <a href="{{ path('category_index', {'id': category.id}) }}">{{ product.category.name }}</a></p>
                            <p class="blockquote-footer">Plateforme :
                                {% for platform in platforms %}
                                    <a href="{{ path('platform_index', {'id': platform.id}) }}">
                                        {{ platform.name }} /
                                    </a>
                                {% endfor %}
                            </p>
                            <p>{{ product.price }} &euro;</p>
                        </blockquote>
                    </div>
                    {% if app.user %}
                        <div class="col-6">
                            <a href="{{ path('product_add', {'slug': product.slug}) }}" class="btn btn-success">Ajouter au panier</a>
                        </div>
                    {% endif %}
                </div>

                <hr>
                <p>{{ product.description }}</p>
            </div>
        </div>

        <hr class="my-3">

        <div class="row">
            <div class="col-7">
                {% if product.comments | length > 0 %}
                    <div class="alert alert-info">
                        <h4 class="alert-heading text-center">
                            <div class="row align-items-center">
                                <div class="col">
                                    Note globale donnée par les utilisateurs
                                </div>
                                <div class="col">
                                    {% include 'partials/rating.html.twig' with {'rating': product.avgRatings} %}
                                    <br>
                                    <small>(Calculée sur {{ product.comments | length }} avis)</small>
                                </div>
                            </div>
                        </h4>
                    </div>

                    {% for comment in product.comments %}
                        <div class="bg-light rounded mb-3 py-3 px-3">
                            <strong>{{ comment.author.firstName }}</strong> <em class="text-muted">le {{ comment.createdAt | date('d/m/Y')}}</em> :
                            <blockquote>
                                {{ comment.content }}
                            </blockquote>

                            <strong>Note : </strong>
                            {% include 'partials/rating.html.twig' with {'rating' : comment.rating} %}
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>Cette annonce n'a pas encore reçu de commentaire</h2>
                {% endif %}

            </div>
            <div class="col-5">
                <div class="bg-light rounded mb-3 py-3 px-3">
                    {{ form_start(form) }}
                    <h3>Laissez votre avis sur ce jeu</h3>
                    {{ form_widget(form) }}
                    {# Si connecté #}
                    {% if app.user %}
                        {% set comment = product.getCommentFromAuthor(app.user) %}
                        {% if comment is not null %}
                            <div class="text-success my-3">
                                <i class="fas fa-check"></i>
                                Vous avez déjà donné votre avis concernant ce produit
                            </div>
                        {% else %}
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-check"></i>
                                Valider
                            </button>
                        {% endif %}

                    {# Si non connecté #}
                    {% else %}
                        <div class="text-danger my-3">
                            <i class="fas fa-exclamation-triangle"></i>
                            Vous devez etre connecté à votre compte pour pouvoir laisser un commentaire
                        </div>
                    {% endif %}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
