{% extends 'base.html.twig' %}

{% block title %}Catégorie : {{ category.name }}{% endblock %}

{% block body %}
    <div class="container">
        {% if category.product is empty %}
            <div class="text-center h1 mt-5">Il n'y a aucun produit de cette catégorie</div>
        {% else %}
        <h1 class="text-center mt-4">{{ category.name }}</h1>
        <p class="text-center alert alert-info mt-4">Il y'a actuellement <u>{{ category.product | length }} jeux</u> en vente dans cette catégorie</p>
        <div class="row">
            {% for product in category.product %}
                <div class="card card-product-list p-3 mb-4">
                    <div class="row no-gutters">
                        <aside class="col-md-3">
                            <img src="{{product.coverImage}}">
                        </aside> <!-- col.// -->
                        <div class="col-md-6 px-5">
                            <div class="info-main border-right mr-4">
                                <h3 class="title text-capitalize">{{ product.title }}</h3>
                                <div class="row">
                                    <div class="col-md-6 pt-3 blockquote text-muted display-4">
                                        <p class="blockquote-footer">Catégorie : <a href="{{ path('category_index', {'id': product.category.id}) }}">{{ product.category.name }}</a></p>
                                        <p class="blockquote-footer">Plateforme{% if product.platforms | length > 1 %}s{% endif %} :
                                            {% for platform in product.platforms %}
                                                <a href="{{ path('platform_index', {'id': platform.id}) }}">
                                                    {{ platform.name }}
                                                </a>
                                                {% if not loop.last %}/{% endif %}
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        {% if product.comments | length > 0 %}
                                            {% include 'partials/rating.html.twig' with {'rating': product.avgRatings} %}
                                        {% else %}
                                            <p>Pas encore noté</p>
                                        {% endif %}
                                    </div> <!-- rating-wrap.// -->
                                </div>

                                <p class="pr-5">{{ product.description }}</p>
                            </div> <!-- info-main.// -->
                        </div> <!-- col.// -->
                        <aside class="col-sm-3">
                            <div class="info-aside">
                                <div class="price-wrap">
                                    <span class="price h4">{{ product.price }}&euro;</span>
                                </div> <!-- info-price-detail // -->
                                <br>
                                <p>
                                    <a href="{{ path('product_show', {'slug': product.slug}) }}" class="btn btn-primary btn-block mb-1">Consulter</a>
                                    <a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i>
                                        <span class="text">Add to wishlist</span>
                                    </a>
                                </p>
                            </div> <!-- info-aside.// -->
                        </aside> <!-- col.// -->
                    </div> <!-- row.// -->
                </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock %}
