<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('product_index') }}">Nanomania</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-5" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link mr-3" href="{{ path('home') }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mr-3" href="{{ path('product_index') }}">Jeux vidéos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mr-3" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Catégories</a>
                <div class="dropdown-menu">
                    {% for category in categories %}
                        <a class="dropdown-item" href="{{ path('category_index', {'id': category.id}) }}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item dropdown mr-3">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Plateformes</a>
                <div class="dropdown-menu">
                    {% for platform in platforms %}
                        <a class="dropdown-item" href="{{ path('platform_index', {'id': platform.id}) }}">{{ platform.name }}</a>
                    {% endfor %}
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown mr-5" id="dropdown-cart">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="cartDropdownLink">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <span class="badge badge-pill badge-danger">{{ app.user.panier.product | length }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-cart" role="menu" aria-labelledby="cartDropdownLink">
                        <div class="row total-header-section">
                            <div class="col-lg-6 col-sm-6 col-6">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="badge badge-pill badge-danger">{{ app.user.panier.product | length }}</span>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-6 total-section text-right">
                                <p>Total: <span class="text-info">{{ app.user.panier.amount }}&euro;</span></p>
                            </div>
                        </div>
                        {% if app.user.panier.product | length > 0 %}
                             {% for product in app.user.panier.product %}
                                <div class="row cart-detail">
                                    <div class="col-lg-4 col-sm-4 col-4 cart-detail-img">
                                        <img class="game-img" src="{{ product.coverImage }}">
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-5 cart-detail-product">
                                        <p>{{ product.title }}</p>
                                        <span class="price text-info"> {{ product.price }}&euro;</span> <span class="count"> Quantité : 1</span>
                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-3 cart-detail-product">
                                        <a href="{{ path('panier_delete', {'id': product.id}) }}" class="btn btn-danger">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p class="my-4 text-center h5">Votre panier est vide</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6 col-sm-6 col-6 text-center checkout">
                                <a href="{{ path('panier_index') }}" class="btn btn-primary w-100 text-white">Voir</a>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-6 text-center checkout">
                                <a href="{{ path('panier_validate', {'id': app.user.panier.id}) }}" class="btn btn-success w-100 text-white">Valider</a>
                            </div>
                        </div>
                    </ul>

                </li>
                <li class="nav-item mr-5">
                    <a href="{{ path('account_restock') }}" class="navbar-text">Mon solde : {{ app.user.balance }} &euro;</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="accountDropdownLink">
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="Avatar de {{ app.user.firstName }}"> {{ app.user.firstName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a href="{{ path('account_index') }}" class="dropdown-item">Mon compte</a>
                        <a href="{{ path('account_historical') }}" class="dropdown-item">Mes factures</a>
                        <a href="{{ path('account_favorite') }}" class="dropdown-item">Mes favoris</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profil</a>
                        <a href="{{ path('account_password') }}" class="dropdown-item">Modifier mon mot de passe</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">Déconnexion</a>
                    </div>

                </li>
            {% else %}
                <li class="nav-item">
                    <a href="{{ path('account_register') }}" class="nav-link">S'inscrire</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link">Se connecter</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for label, messages in app.flashes %}
    <div class="container mt-4">
        <div class="alert alert-{{ label }}" role="alert">
            {% for message in messages %}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}